* {
    margin: 0;
    padding: 0;
    font-family: 'Oswald', 'Arial Narrow', sans-serif;
}

.main-container {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 5fr;
    background: linear-gradient(
                        135deg,
                        #7b0f14 0%,
                        #2b0a0c 50%,
                        #a11a1f 100%
                        );
}

/* ----------header----------- */ 

.header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    color: #f2e8e8;

}

.section-1 {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-column: 1/4;
    column-gap: 24rem;
}

.section-1 div {
    justify-self: center;
    align-self: center;
    margin-left: 4rem;
}

svg {
    width: 3rem;
    fill: #c9b2b2;
}

.section-1 div>input {
    color: rgb(255, 255, 255);
    background-color: gray;
    opacity: 0.5;
    border-radius: 4rem;
    width: 72rem;    
    border: none;
    padding: 0 1.5rem;
    font-size: 3rem;
}

#notification-icon {
    width: 3rem;
}

.section-1>div, .section-2> div  {
    display: flex;
    white-space: nowrap;
    font-size: 3rem;
    gap: 3rem;
    font-weight: bold;
}

.section-1 .profile {
    margin-bottom: 1rem;
    gap:5rem;
}
.section-1 .profile>img {
    border-radius: 5rem;
    width: 7rem;
    height: 7rem;
}

.section-1 .profile p {
    margin-top: 1.5rem;
}

.section-2 {
    grid-column: 1/4;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.section-2 > div {
    margin-left: 4rem;
}

.section-2 div:last-of-type {
    justify-self: center;
    position: relative;
    top: 2rem;
    left: 18rem;
    display: flex;
    gap: 8rem;
}

.section-2 div>img {
    width: 9rem;
    height: 9rem;
    border-radius: 5rem;
}

.section-2 .profile p::first-line {
    font-size: 2rem;
}

.section-2 .profile p {
    font-size: 4rem;
    position: relative;
    bottom: 1rem;
    
}

.section-2 button {
    font-family: 'Oswald', 'Arial Narrow', sans-serif;
    border-radius: 3rem;
    width: 12rem;
    height: 5rem;
    font-size: 2rem;
    border: none;
    background-color: rgba(21, 106, 171, 0.232);
    color: #c9b2b2;

}

/* ----------main-content----------- */ 

.main-content {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    color: #f2e8e8;
    overflow: auto;
    margin-left: 2rem;
}

.main-content::-webkit-scrollbar {
    width: 12px;
    background-color: transparent;
    border: none;
}

.main-content::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: #D62929;
	background-image: -webkit-linear-gradient(90deg,
											  transparent,
											  rgba(0, 0, 0, 0.4) 50%,
											  transparent,
											  transparent)
}

.main-content::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.9);
	border-radius: 16px;
}

.cards {
    grid-row: 1/3;
    grid-column: 1/2;

    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 4rem;
}

.cards h1:only-of-type {
    font-size: 3rem;
    color: #f2e8e8;
    margin-bottom: 2rem;
}

.cards>div {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    gap: 4rem;

}

.cards>div>span {
    font-size: 2rem;
    color: #c9b2b2;
    background-color: #a11a1e32;
    padding: 4rem;
    border-left:1rem solid #2b0a0c;
    border-radius: 1rem;
    box-shadow: 0 0 8px 4px #b87277;
}

.link-container {
    justify-self: end;
}

a {
    text-decoration: none;
}

.link-container svg:only-of-type {
    fill: #c9b2b2;
    width:4rem;
    margin: 1rem 1rem 0 1rem;
}

.announcement {
    margin-top: 4rem;
    position: relative;
    top: 2rem;
}


.announcement>h1 {
    font-size: 3rem;
    position: relative;
    left: 4.5rem;
    bottom: 2rem;
}

.announcement-content {
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));

    border-radius: 1rem;
    box-shadow: 0 0 8px 4px #b87277;

    box-sizing: border-box;
    width: 36rem;
    padding: 3.5rem;

    position: relative;
    left: 4.5rem;
    top: 2rem;

}

.announcement-content div:nth-child(2) {
    padding-top: 2rem;
    border-top: 1px solid #c9b2b2;
    border-bottom: 1px solid #c9b2b2;

}

.announcement-content div:last-child {
    padding-top: 2rem;
}

.announcement-content p {
    color: #c9b2b2;
    font-size: 1.5rem;
    padding-top: 1rem;
    padding-bottom: 2rem;
}

.announcement-content div:last-child p {
    padding-bottom: 0;
}

.skills {
    margin-top: 4rem;
    position: relative;
    top: 2rem;
    color: #f2e8e8;
}

.skills>h1 {
    font-size: 3rem;
    position: relative;
    left: 4.5rem;
}

.skills-content {
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
    gap: 3rem;

    border-radius: 1rem;
    box-shadow: 0 0 8px 4px #b87277;

    box-sizing: border-box;
    width: 36rem;
    padding: 3.5rem;

    position: relative;
    left: 4.5rem;
    top: 2rem;

}

.skills-content div {
    display: flex;
    gap: 3rem;

}
.skills-content div svg {
    fill: #c9b2b2;
    width: 4rem;
}

.skills-content p {
    font-size: 1.5rem;
}

.skills-content p::first-line {
    font-size: 2rem;
}

/* ----------sidebar----------- */ 

.sidebar {
    /*background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);    grid-row: 1/3;*/
    white-space: nowrap;
    grid-row: 1/3;
    display: grid;
    grid-template-rows: 1fr 4fr 4fr;
    grid-template-columns: 1fr 3fr;
    color: #c9b2b2;

    overflow: auto;

}

.dashboard-icon svg{
    width: 7rem;
    display: flex;
    flex-direction: column;
    justify-self: end;
    padding-top: 3rem;
}

.dashboard-text {
    font-size: 4rem;
    padding-left: 2rem;
    padding-top: 4rem;
}

.user-icon, .website-icon {
    width: 4rem;
    display: flex;
    flex-direction: column;
    justify-self: end;
    gap: 3rem;
    padding-top: 2rem;
}

.user-icon svg, .website-icon svg {
    width: 4rem;
    display: flex;
    flex-direction: column;
    justify-self: end;
    gap: 3rem;
}

.user-text, .website-text {
    font-size: 3.5rem;
    display: flex;
    flex-direction: column;
    padding-left: 2rem;
    padding-top: 2.3rem;
    gap:3rem;
}
